<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <label for="search">search by salary</label>
        <input type="number" name="search" id="search">
        <input type="submit" id="searchEmployee">
    </div>
    <div>
        <label for="search_name">search by name</label>  
        <input type="text" name="search_name" id="search_name">
        <input type="submit" id="search_name_employee">
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ data.form.as_p }}
        <input type="submit">
    </form>
    <script>
        const btn = document.getElementById('searchEmployee')
        const btn_name = document.getElementById('search_name_employee')
        btn.onclick = () => {
            const searched = document.getElementById('search').value
            const sr = {'search': searched, 'key': 'salary'}
            fetch('/task/search-employee/', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify(sr)
            }).then(res => {
                return res.json();
            }).then(data => {
                console.log(data);
            });
        }
        btn_name.onclick = () => {
            const searched = document.getElementById('search_name').value
            const sr = {'search': searched, 'key': 'username'}
            fetch('/task/search-employee/', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify(sr)
            }).then(res => {
                return res.json();
            }).then(data => {
                console.log(data);
            });
        }
    </script>
</body>
</html>