{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- search by salary -->
    <div>
        <label for="search">search by salary</label>
        <input type="number" name="search" id="search">
        <input type="submit" id="searchEmployee">
    </div>
    <!-- search by name -->
    <div>
        <label for="search_name">search by name</label>  
        <input type="text" name="search_name" id="search_name">
        <input type="submit" id="search_name_employee">
    </div>
    <!-- add employee -->
    <form action="" method="post">
        {% csrf_token %}
        {{ data.form.as_p }}
        <input type="submit" value="add employee">
    </form>
    <!-- delete employee -->
    <form method="post" action="/task/delete/">
        {% csrf_token %}
        <label for="employee_id">employee id</label>
        <input type="number" name="employee_id">
        <input type="submit" value="delete employee">
    </form>
    
    {% if messages %}
        
        {% for message in messages %}
            {{ message }}
        {% endfor %}
            
    {% endif %}
        
    <script src="{% static 'searchEmp.js' %}"></script>
</body>
</html>